<app-form-toolbar (backToList)="backToList()" (add)="add()" (save)="save()"></app-form-toolbar>
<div *ngIf="dataSource" [formGroup]="fgDataSource" id="frmDataSource">
    <mat-card>
        <mat-card-title><span translate>datasource</span></mat-card-title>
        <mat-grid-list cols="5" rowHeight="80px" class="data-source-holder" [formGroup]="fgDataSource">

            <mat-grid-tile [colspan]="4">
                <mat-form-field class="almost-full-with-field">
                    <input type="text" matInput placeholder="{{'description' | translate}}" formControlName="description" />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-select placeholder="{{'datasourceType' | translate}}" [compareWith]="compareOption" formControlName="dataSourceType">
                        <mat-option value=""> </mat-option>
                        <mat-option *ngFor="let objVar of dataSourceTypes" [value]="objVar">{{objVar.name}}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="inputControls.dataSourceType.invalid && inputControls.dataSourceType.errors?.required" translate>fieldRequired</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3">
                <mat-form-field class="almost-full-with-field">
                    <input type="text" matInput placeholder="{{'connectionString' | translate}}" formControlName="connectionString" />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'user' | translate}}" formControlName="userId" />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'password' | translate}}" formControlName="pwd" />
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>