<mat-card class="menu-main-card">
    <mat-card-title>
        <mat-icon>settings</mat-icon> {{'administration' | translate}}</mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'appConfigAdministration' | translate}}

                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1:1">
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>settings</mat-icon>
                                    <figcaption>
                                        {{'appConfigAdministration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/datasources']" class="main-menu-item">
                                    <mat-icon>storage</mat-icon>
                                    <figcaption>
                                        {{'datasource' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'accessManagement' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1:1">
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/users']" class="main-menu-item">
                                    <mat-icon>supervisor_account</mat-icon>
                                    <figcaption>
                                        {{'userConfig' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/profiles']" class="main-menu-item">
                                    <mat-icon>assignment_ind</mat-icon>
                                    <figcaption>
                                        {{'profileAdministration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'calcOptionsAndRel' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1:1">
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/calcoptions']" class="main-menu-item">
                                    <mat-icon>drag_indicator</mat-icon>
                                    <figcaption>
                                        {{'calcOptions' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/reportoptions']" class="main-menu-item">
                                    <mat-icon>insert_chart</mat-icon>
                                    <figcaption>
                                        {{'calcOptionsReportLabel' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'limitsConf' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1:1">
                            <mat-grid-tile>

                                <figure [routerLink]="['/administration/limits']" class="main-menu-item">
                                    <mat-icon>vertical_align_center</mat-icon>
                                    <figcaption>
                                        {{'limits' | translate}}
                                    </figcaption>
                                </figure>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>


        </mat-grid-list>
    </mat-card-content>
</mat-card>