<app-form-toolbar (backToList)="backToList()" (add)="add()" (save)="save()"></app-form-toolbar>
<div *ngIf="calcOptionsForUser" [formGroup]="fgCalcOptionsForUser" id="frmCalcOptionsForUser">
    <mat-card>

        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="{{'description' | translate}}" formControlName="description" />
                <mat-error *ngIf="inputControls.description.invalid && inputControls.description.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="{{'exportExcel' | translate}}" formControlName="excelExportType" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let dl of excelExportTypes" [value]="dl">{{dl.description}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.excelExportType.invalid && inputControls.excelExportType.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="{{'language' | translate}}" formControlName="language">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let dl of languages" [value]="dl.code">{{dl.description}}</mat-option>
                    <mat-error *ngIf="inputControls.excelExportType.invalid && inputControls.excelExportType.errors?.required" translate>fieldRequired</mat-error>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title translate>harmonics</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'firstHarm' | translate}}" formControlName="harmonicsFirst" />

            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'secondHarm' | translate}}" formControlName="harmonicsSecond" />

            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'thirdHarm' | translate}}" formControlName="harmonicsThird" />
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-grid-list cols="3" rowHeight="5:1">
            <mat-grid-tile>
                <mat-checkbox formControlName="selMostPositiveWeek"><span translate>mostPositiveWeek</span></mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox formControlName="selRepresentativeWeek"><span translate>representativeWeek</span></mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox formControlName="selMostNegativeWeek"><span translate>mostNegativeWeek</span></mat-checkbox>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>