<mat-card class="bg-info toolbar">
    <button class=" btn btn-outline-light " (click)="add()" title="{{'newDevice' | translate}}">
    <i class="fal fa-plus"></i>
  </button>
    <button class=" btn btn-outline-light " (click)="save()" title="{{'save' | translate}}">
    <i class="fal fa-save"></i>
  </button>
</mat-card>

<div *ngIf="device" [formGroup]="fgDevice">
    <mat-card>
        <mat-card-title>
            <span translate>device</span>: {{device?.name}}
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="{{'name' | translate}}" formControlName="name" />
                <mat-error *ngIf="inputControls.name.invalid && inputControls.name.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="{{'code' | translate}}" formControlName="code" />
                <mat-error *ngIf="inputControls.code.invalid && inputControls.code.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" min="110" placeholder="{{'nominalVoltage' | translate}}" formControlName="nominalVoltage" />
                <mat-error *ngIf="inputControls.nominalVoltage.invalid && inputControls.nominalVoltage.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="{{'description' |translate}}" formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
                <mat-error *ngIf="inputControls.description.invalid && inputControls.description.errors?.maxlength"><span translate>maxLengthExceeded</span> ({{inputControls.description.errors?.maxlength.actualLength}}/{{inputControls.description.errors?.maxlength.requiredLength}})
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="{{'location' | translate}}" formControlName="locationId">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let location of locations" [value]="location.id">{{location.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-checkbox formControlName="weekProcess"><span translate>weekProcess</span></mat-checkbox>

            <mat-checkbox formControlName="weekProcessAutomatic"><span translate>weekProcessAutomatic</span></mat-checkbox>

            <mat-checkbox formControlName="eventProcess"><span translate>eventProcess</span></mat-checkbox>

            <mat-checkbox formControlName="deliveryPoint"><span translate>deliveryPoint</span></mat-checkbox>

            <mat-form-field>
                <textarea matInput placeholder="{{'measureTypeDescription' |translate}}" formControlName="measurePointDescription" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
                <mat-error *ngIf="inputControls.measurePointDescription.invalid && inputControls.measurePointDescription.errors?.maxlength"><span translate>maxLengthExceeded</span> ({{inputControls.measurePointDescription.errors?.maxlength.actualLength}}/{{inputControls.measurePointDescription.errors?.maxlength.requiredLength}})
                </mat-error>
            </mat-form-field>


            <mat-tab-group>

                <mat-tab label="{{'configuration' | translate}}">
                    <app-device-config [gridDatasource]="device.configs" [deviceId]="device.id"></app-device-config>
                </mat-tab>
                <mat-tab label="{{'erse' | translate}}">
                    <app-erse-data [dataForm]="fgErseData"></app-erse-data>
                </mat-tab>
                <mat-tab label="{{'deviceAdditionalData' | translate}}">
                    <app-device-additional-data [additionalDataForm]="fgDeviceAdditionalData">
                    </app-device-additional-data>
                </mat-tab>
                <mat-tab label="{{'deviceMaintenance' | translate}}">
                    <app-device-maintenance [gridDatasource]="device.maintenances" [deviceId]="device.id"></app-device-maintenance>
                </mat-tab>
                <mat-tab label="{{'deviceTComponentProperties' | translate}}">
                    <app-device-properties [gridDatasource]="device.treeComponentProperties" [deviceId]="device.id"></app-device-properties>
                </mat-tab>
                <mat-tab label="{{'ignoreData' | translate}}">
                    <app-device-ignore-data [gridDatasource]="device.ignoreData" [deviceId]="device.id"></app-device-ignore-data>
                </mat-tab>
                <mat-tab label="{{'deviceIgnoreEvent' | translate}}">
                    <app-device-ignore-events [gridDatasource]="device.ignoreEvent" [deviceId]="device.id"></app-device-ignore-events>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

</div>