<app-form-toolbar (backToList)="backToList()" (add)="add()" (save)="save()"></app-form-toolbar>
<div *ngIf="limitsDefinition" [formGroup]="fgLimitsDefinition" id="frmLimitsDefinition">
    <mat-card>
        <mat-form-field>
            <input matInput placeholder="{{'name' | translate}}" formControlName="description" />
            <mat-error *ngIf="inputControls.description.invalid && inputControls.description.errors?.required" translate>fieldRequired</mat-error>
        </mat-form-field>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <ti-grid class="limits-list" [rowActions]="rowActions" [columns]="columns" [rows]="gridDatasource" [pageSize]="250">
            </ti-grid>
        </mat-card-content>
    </mat-card>
</div>