<h1 mat-dialog-title>{{'deviceMaintenance' | translate }}</h1>
<div mat-dialog-content>
    <mat-grid-list cols="4" rowHeight="6:1" class="maintenance-holder" [formGroup]="fgMaintenanceCause">
        <mat-grid-tile [colspan]="2">
            <app-date-time-editor formControlName="startDate" (valueChange)="startDateChanged($event)" [showMilliseconds]="true" [timePlaceholder]="'startTime' | translate" [datePlaceholder]="'startDate' | translate"></app-date-time-editor><br/>
            <mat-error *ngIf="inputControls.startDate.invalid && inputControls.startDate.errors?.required" translate>fieldRequired</mat-error>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
            <app-date-time-editor formControlName="endDate" (valueChange)="endDateChanged($event)" [timePlaceholder]="'endTime' | translate" [datePlaceholder]="'endDate' | translate"></app-date-time-editor>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'maintenanceCause' | translate}}" [compareWith]="compareOption" formControlName="maintenanceCause">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let maintenanceCause of maintenanceCauses" [value]="maintenanceCause">{{maintenanceCause.description}}</mat-option>
                </mat-select>

                <mat-error *ngIf="inputControls.maintenanceCause.invalid && inputControls.maintenanceCause.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput [matDatepicker]="validityPicker" placeholder="{{'validity'|translate}}" formControlName="validity">
                <mat-datepicker-toggle matSuffix [for]="validityPicker"></mat-datepicker-toggle>
                <mat-datepicker #validityPicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="serviceOrder" placeholder="{{'serviceOrder' | translate}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="document" placeholder="{{'document' | translate}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-form-field>
                <textarea matInput formControlName="obs" placeholder="{{'observations' | translate}}" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"> </textarea>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>