<div [formGroup]="parts" class="time-editor-container">
    <input class="time-editor-input-element" formControlName="hours" type="number" max="23" min="0" (change)="hoursChanged()">
    <span class="time-editor-input-spacer">h</span>
    <input class="time-editor-input-element" formControlName="minutes" type="number" max="59" min="0" (change)="minutesChanged()">
    <span class="time-editor-input-spacer">m</span>
    <input class="time-editor-input-element" formControlName="seconds" type="number" max="59" min="0" (change)="secondsChanged()">
    <span class="time-editor-input-spacer">s</span>
    <input *ngIf="showMilliseconds" class="time-editor-input-element" formControlName="milliseconds" type="number" max="999" min="0" (change)="millisecondsChanged()">
    <span *ngIf="showMilliseconds" class="time-editor-input-spacer">ms</span>
</div>