.time-editor-input-container {
    display: flex;
}

.time-editor-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: right;
}

.time-editor-input-spacer {
    opacity: 1;
    transition: opacity 200ms;
}