<div class="bg-primary">
    <button class="btn btn-outline-light" (click)="backToListFromParent()">
    <i class="fal fa-angle-left"></i>
  </button>
    <button class=" btn btn-outline-light " (click)="addFromParent() ">
    <i class="fal fa-plus"></i>
  </button>
    <button class=" btn btn-outline-light " (click)="saveFromParent() ">
    <i class="fal fa-save"></i>
  </button>
</div>
<br />