.app-container {
    height: 93vh;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.username {
    margin-right: 10px;
}

.logout {
    cursor: pointer;
}