<div *ngIf="currentUser">
    <mat-toolbar color="primary">
        <mat-button (click)="_toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </mat-button>
        <span>{{ title }}</span>
        <div class="">
            <mat-button [routerLink]="['/administration']" title="{{'administration' | translate}}">
                <mat-icon>settings</mat-icon>
            </mat-button>
        </div>
        <div class="">
            <mat-button [routerLink]="['/management']" title="{{'management' | translate}}">
                <mat-icon>build</mat-icon>
            </mat-button>
        </div>

        <span class="fill-remaining-space"></span>
        <mat-icon>account_circle</mat-icon>
        <span class="username">{{ currentUser?.fullname }}</span>

        <mat-icon class="logout" (click)="logout()">vpn_key</mat-icon>

    </mat-toolbar>

    <mat-drawer-container class="app-container">
        <mat-drawer mode="side" [(opened)]="_opened">
            <app-tree (nodeToggle)="treeNodeToggle($event)"></app-tree>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div *ngIf="!currentUser">
    <router-outlet></router-outlet>
</div>