<mat-card class="menu-main-card">
    <mat-card-title>
        <mat-icon>supervised_user_circle</mat-icon>{{'userNameLabel' | translate}}
    </mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'userNameLabel' | translate}}

                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="3:1">
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>vertical_align_center</mat-icon>
                                    <figcaption>
                                        {{'limits' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>drag_indicator</mat-icon>
                                    <figcaption>
                                        {{'calcOptions' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>