<app-grid-add-button (click)="gridAddRecord()"></app-grid-add-button>
<ti-grid class="device-ignore-data-list" [rowActions]="rowActions" [columns]="columns" [rows]="gridDatasource" [pageSize]="10">
</ti-grid>