<h1 mat-dialog-title>
    {{'limitsDefinition' | translate }}</h1>
<div mat-dialog-content>
    <mat-grid-list cols="5" rowHeight="3:1" class="limits-holder" [formGroup]="fgLimits">
        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'typeEvent' | translate}}" [compareWith]="compareOption" formControlName="variable">
                    <mat-option *ngFor="let objVar of variables" [value]="objVar">{{objVar.name}}</mat-option>
                </mat-select>

                <mat-error *ngIf="inputControls.variable.invalid && inputControls.variable.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'level' | translate}}" [compareWith]="compareOption" formControlName="tensionLevel">
                    <mat-option *ngFor="let tension of tensions" [value]="tension">{{tension.description}}</mat-option>
                </mat-select>

                <mat-error *ngIf="inputControls.tensionLevel.invalid && inputControls.tensionLevel.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'minimum' | translate}}" formControlName="min100" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'maximum' | translate}}" formControlName="max100" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil5' | translate}}" formControlName="min95" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil95' | translate}}" formControlName="max95" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil1' | translate}}" formControlName="min99" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil99' | translate}}" formControlName="max99" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil05' | translate}}" formControlName="min995" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'percentil995' | translate}}" formControlName="max995" />
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
</div>
<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>