<input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value,false)" placeholder="filter nodes" />
<button (click)="tree.treeModel.clearFilter()">Clear Filter</button>
<input id="filter3" #filter3 (keyup)="filterFn(filter3.value, tree.treeModel)" placeholder="filter nodes by fuzzy search" />

<tree-root #tree [options]="options" [nodes]="nodes" (click)="closeMenu()" (select)="handleNodeSelection($event)" (deselect)="handleNodeDeselection($event)">
    <ng-template #treeNodeTemplate let-node>

        <span title="{{node.data.id}}">
      <mat-icon *ngIf="node.data.treeComponentType==nodeTypes.DEVICE">router</mat-icon>
      <mat-icon *ngIf="node.data.treeComponentType==nodeTypes.LOCATION">my_location</mat-icon>
      <mat-icon *ngIf="node.data.treeComponentType==nodeTypes.CUSTOMER">person</mat-icon>
      {{ node.data.name }}
    </span>
        <!--   <span class="pull-right">{{ childrenCount(node) }}</span> -->
        <!--  <button (click)="go($event)">Custom Action</button> -->
    </ng-template>

</tree-root>
<div class="menu" *ngIf="contextMenu" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
    <div>{{ contextMenu.node.data.name }}</div>
    <hr>
    <!--     <ul>
        <li (click)="edit()"><a>Edit</a></li>
        <li (click)="copy()"><a>Copy</a></li>
        <li (click)="cut()"><a>Cut</a></li>
        <li (click)="paste()"><a [style.opacity]="canPaste() && 1 || 0.3">Paste</a></li>
    </ul> -->
    <ul *ngIf="contextMenu.node.data.treeComponentType==nodeTypes.DEVICE">
        <li (click)="contextMenuOptionSelected()">
            <a [routerLink]="['/'+ constants.ROUTES.ROUTE.DEVICES,contextMenu.node.id]">
                <mat-icon>chrome_reader_mode</mat-icon>
                <span translate>deviceSheet</span>

            </a>
        </li>
        <li (click)="contextMenuOptionSelected()">
            <a>
                <mat-icon>add</mat-icon><span translate>newCustomer</span>
            </a>
        </li>
        <li (click)="contextMenuOptionSelected()">
            <a>
                <mat-icon>delete</mat-icon><span translate>deleteLabel</span>
            </a>
        </li>
    </ul>
    <ul *ngIf="contextMenu.node.data.treeComponentType==nodeTypes.LOCATION">
        <li (click)="edit()">
            <a>
                <mat-icon>add</mat-icon>New location
            </a>
        </li>
        <li (click)="edit()">
            <a>
                <mat-icon>add</mat-icon>New device
            </a>
        </li>
        <li (click)="edit()">
            <a>
                <mat-icon>edit</mat-icon>Rename
            </a>
        </li>
        <li (click)="edit()">
            <a>
                <mat-icon>delete</mat-icon>delete
            </a>
        </li>
    </ul>
    <ul *ngIf="contextMenu.node.data.treeComponentType==nodeTypes.CUSTOMER">

    </ul>
</div>