<mat-grid-list [formGroup]="additionalDataForm" cols="4" rowHeight="5:1" class="additional-data-holder">
    <mat-grid-tile>
        <mat-checkbox formControlName="customerMeasured"><span translate>customerMeasured</span></mat-checkbox>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="{{'measuredTensionLevel' | translate}}" formControlName="measureLocationType" [compareWith]="compareOption">
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let measure of measureLocTypes" [value]="measure">{{measure.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-form-field>
            <input matInput type="number" placeholder="{{'faultLevel' | translate}}" formControlName="faultLevel" />
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="{{'busBarLineMeasureType' | translate}}" formControlName="busbarLineMeasurement" [compareWith]="compareOption">
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let measure of busbarLineMeasures" [value]="measure">{{measure.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="{{'busBarType' | translate}}" formControlName="busbarType" [compareWith]="compareOption">
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let type of busBarTypes" [value]="type">{{type.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'easting' | translate}}" formControlName="latitude" />
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'northing' | translate}}" formControlName="longitude" />
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="{{'transformerTypeUpstream' | translate}}" formControlName="transformerTypeUpstream" [compareWith]="compareOption">
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let type of transformerTypes" [value]="type">{{type.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-select placeholder="{{'transformerTypeDownstream' | translate}}" formControlName="transformerTypeDownstream" [compareWith]="compareOption" [compareWith]="compareOption">
                <mat-option value=""> </mat-option>
                <mat-option *ngFor="let type of transformerTypes" [value]="type">{{type.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>

</mat-grid-list>