<mat-grid-list [formGroup]="dataForm" cols="3" rowHeight="6:1">
    <mat-grid-tile>
        <mat-form-field>
            <input matInput maxlength="5" placeholder="{{'AZone' | translate}}" formControlName="deviceZoneA">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput maxlength="5" placeholder="{{'BZone' | translate}}" formControlName="deviceZoneB">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput maxlength="5" placeholder="{{'CZone' | translate}}" formControlName="deviceZoneC">
        </mat-form-field>
    </mat-grid-tile>
    <!-- </mat-grid-list>
<mat-grid-list cols="2" rowHeight="5:1"> -->
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'drc' | translate}}" formControlName="drc">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'ao' | translate}}" formControlName="ao">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'renInjector' | translate}}" formControlName="injector">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'substation' | translate}}" formControlName="substation">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'barring' | translate}}" formControlName="barring">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'output' | translate}}" formControlName="output">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'county' | translate}}" formControlName="county">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'district' | translate}}" formControlName="district">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="{{'deviceNameLabel' | translate}}" formControlName="instalation">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>