<app-form-toolbar (backToList)="backToList()" (add)="add()" (save)="save()"></app-form-toolbar>
<div *ngIf="user" [formGroup]="fgUser" id="frmUser">
    <mat-card>
        <mat-card-title><span translate>userNameLabel</span>: {{user?.fullname}}</mat-card-title>
        <mat-card-content>

            <mat-form-field>
                <input matInput placeholder="{{'firstNameUser' | translate}}" formControlName="firstname" />
                <mat-error *ngIf="inputControls.firstname.invalid && inputControls.firstname.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{'lastNameUser' | translate}}" formControlName="lastname" />
                <mat-error *ngIf="inputControls.lastname.invalid &&inputControls.lastname.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="{{'language' | translate}}" formControlName="language">
                    <mat-option value=""> </mat-option>
                    <mat-option value="PT"><span translate>portuguese</span></mat-option>
                    <mat-option value="FR"><span translate>french</span></mat-option>
                    <mat-option value="EN"><span translate>english</span></mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.language.invalid &&inputControls.language.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput placeholder="{{'emailTarget' | translate}}" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="{{'department' | translate}}" formControlName="department">
                    <mat-option value=""> </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="{{'profile' | translate}}" formControlName="profile" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let prof of profiles" [value]="prof">{{prof.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.profile.invalid &&inputControls.profile.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="notify"><span translate>notify</span></mat-checkbox>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title translate>loginData</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="{{'userNameLabel' | translate}}" formControlName="login" />
                <mat-error *ngIf="inputControls.login.invalid &&inputControls.login.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="{{'password' | translate}}" formControlName="pwd" />
                <mat-error *ngIf="inputControls.pwd.invalid &&inputControls.pwd.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

</div>