.example-container {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

mat-button {
    padding-top: 10px;
}

.toolbar {
    margin-bottom: 10px;
}