<mat-form-field>
    <input matInput placeholder="{{'deviceDataSource' | translate}}" [value]="data.deviceDataSourceId">
</mat-form-field>
<button type="button" (click)="openDatasourceSearch()">...</button>