<h1 mat-dialog-title>{{'deviceIgnoreEvent' | translate }}</h1>
<div mat-dialog-content>
    <mat-grid-list cols="4" rowHeight="3:1" class="ignore-events-holder" [formGroup]="fgIgnoreEvents">
        <mat-grid-tile [colspan]="2">
            <app-date-time-editor formControlName="startDate" (valueChange)="startDateChanged($event)" [showMilliseconds]="true" [timePlaceholder]="'startTime' | translate" [datePlaceholder]="'startDate' | translate"></app-date-time-editor><br/>
            <mat-error *ngIf="inputControls.startDate.invalid && inputControls.startDate.errors?.required" translate>fieldRequired</mat-error>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
            <app-date-time-editor formControlName="endDate" (valueChange)="endDateChanged($event)" [timePlaceholder]="'endTime' | translate" [datePlaceholder]="'endDate' | translate"></app-date-time-editor>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'cause' | translate}}" [compareWith]="compareOption" formControlName="ignoreDataCause">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let ignoreDataCause of ignoreDataCauses" [value]="ignoreDataCause">{{ignoreDataCause.description}}</mat-option>
                </mat-select>

                <mat-error *ngIf="inputControls.ignoreDataCause.invalid && inputControls.ignoreDataCause.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="4">
            <mat-form-field>
                <textarea matInput formControlName="obs" placeholder="{{'observations' | translate}}" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"> </textarea>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>