<mat-form-field>
    <input matInput [matDatepicker]="startdate" placeholder="{{datePlaceholder}}" [value]="date" (dateChange)="dateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
    <mat-datepicker #startdate></mat-datepicker>

</mat-form-field> &nbsp;&nbsp;&nbsp;
<mat-form-field class="time-part">
    <app-time-editor placeholder="{{timePlaceholder}}" [value]="time" [showMilliseconds]="showMilliseconds" (valueChange)="timeChanged($event)"></app-time-editor>
</mat-form-field>