<h1 mat-dialog-title>{{'deviceTComponentProperties' | translate }}</h1>
<div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="5:1" class="properties-holder" [formGroup]="fgProperties">
        <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="propertyName" placeholder="{{'deviceTComponentPropertyKey' | translate}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="propertyValue" placeholder="{{'deviceTComponentPropertyValue' | translate}}">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>