<h1 mat-dialog-title>{{'deviceConfiguration' | translate }}</h1>
<div mat-dialog-content>
    <mat-grid-list cols="4" rowHeight="5:1" class="additional-data-holder">
        <mat-grid-tile [colspan]="2">
            <app-date-time-editor [value]="workingData.startDate" (valueChange)="startDateChanged($event)" [showMilliseconds]="true" [timePlaceholder]="'startTime' | translate" [datePlaceholder]="'startDate' | translate"></app-date-time-editor>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
            <app-date-time-editor [value]="workingData.endDate" (valueChange)="endDateChanged($event)" [timePlaceholder]="'endTime' | translate" [datePlaceholder]="'endDate' | translate"></app-date-time-editor>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-checkbox (change)="simpleCheckChange($event)" [(checked)]="workingData.simple"><span translate>starMeasure</span></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-checkbox (change)="simpleCalcCheckChange($event)" [checked]="workingData.simpleCalc"><span translate>starCalc</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'datasource' | translate}}">
                    <mat-option value=""> </mat-option>
                    <!--    <mat-option *ngFor="let measure of busbarLineMeasures" [value]="measure">{{measure.description}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-datasource-id [data]="workingData"></app-datasource-id>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'calcOptions' | translate}}" [compareWith]="compareOption" [value]="workingData.calcOptions" (selectionChange)="calcOptionsChange($event)">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let calcOption of calcOptions" [value]="calcOption">{{calcOption.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input matInput type="number" placeholder="{{'declaredVoltage' | translate}}" [(value)]="workingData.declaredVoltage" min="110" max="10000000" (change)="declaredVoltageChange($event)" />
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'limitsDefinition' | translate}}" [compareWith]="compareOption" [value]="workingData.limitsDefinition" (selectionChange)="limitsDefinitionChange($event)">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let limit of limitsDefinitions" [value]="limit">{{limit.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'equipment' | translate}}" [compareWith]="compareOption" [value]="workingData.equipment" (selectionChange)="equipmentChange($event)">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let equipment of equipments" [value]="equipment">{{equipment.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input matInput [(value)]="workingData.equipmentSerialNumber" placeholder="{{'equipmentSerialNumber' | translate}}">
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-checkbox (change)="validateRecordsByEventsCheckChange($event)" [checked]="workingData.validateRecordsByEvents"><span translate>validateRecordsByEvents</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-checkbox (change)="validateRecordsByTensionExtremesCheckChange($event)" [checked]="workingData.validateRecordsByTensionExtremes"><span translate>validateRecordsByTensionExtremes</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-checkbox (change)="ignoreRecordValidityCheckChange($event)" [checked]="workingData.ignoreRecordValidity"><span translate>ignoreRecordValidation</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-checkbox (change)="fixedCheckChange($event)" [checked]="workingData.fixed"><span translate>fixed</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-checkbox (change)="slidingDSICheckChange($event)" [checked]="workingData.slidingDSI"><span translate>slidingDSI</span></mat-checkbox>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="{{'indirectMeasureAt' | translate}}" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <!--   <mat-option *ngFor="let measure of busbarLineMeasures" [value]="measure">{{measure.description}}</mat-option> -->
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button [mat-dialog-close]="data" (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>