@import "../../../styles.scss";
.login-card {
    width: 30%;
    margin: 40px auto;
    background-color: #e6ffff;
}

.disclaimer-card {
    width: 40%;
    margin: 0 auto;
    background-color: #e6ffff;
}