/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~ngx-toastr/toastr.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

li:hover {
    background-color: aliceblue;
}

thead th {
    text-align: center;
}

th .column-title {
    padding-right: initial !important;
    font-size: 12px;
}

.time-part .mat-form-field-infix {
    width: auto !important;
}

.calc-options-list td:nth-child(2),
.calc-options-list th:nth-child(2),
.calc-options-for-user-list td:nth-child(2),
.calc-options-for-user-list th:nth-child(2),
.data-source-list td:nth-child(2),
.data-source-list th:nth-child(2),
.limits-list td:nth-child(2),
.limits-list th:nth-child(2),
.profile-list td:nth-child(2),
.profile-list th:nth-child(2),
.user-list td:nth-child(2),
.user-list th:nth-child(2) {
    display: none !important;
}

.device-ignore-events-list td:nth-child(2),
.device-ignore-events-list th:nth-child(2),
.device-config-list td:nth-child(2),
.device-config-list th:nth-child(2),
.device-maintenance-list th:nth-child(2),
.device-maintenance-list td:nth-child(2),
.device-properties-list td:nth-child(2),
.device-properties-list th:nth-child(2),
.device-ignore-data-list td:nth-child(2),
.device-ignore-data-list th:nth-child(2) {
    display: none !important;
}

.main-menu-item {
    text-align: center;
    cursor: pointer;
    padding: 5px
}

.main-menu-item:hover {
    background-color: azure;
    border-radius: 10px;
    border: 1px solid blue;
}

.main-menu-item mat-icon {
    font-size: 64px;
    height: 64px;
    width: 64px;
}

.main-menu-items-holder {
    width: 70%;
}

.menu-main-card {
    height: 93vh;
}

.mat-grid-tile.conformity-variable .mat-figure,
.mat-grid-tile.title-tile .mat-figure {
    justify-content: left!important;
}

.mat-grid-tile.conformity-variable .mat-figure {
    font-size: 13px;
}