@import '../../../../styles.scss';
.mat-list-base {
    padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    height: 20vh;
    border: 1px inset #17a2b8;
    overflow-y: auto;
}

.list-item {
    display: block;
    width: 100%;
    cursor: pointer;
    padding-left: 5px;
}

.list-item.active,
.list-item:hover {
    background-color: #17a2b8 !important;
    color: white;
}

.mat-dialog-actions {
    float: right;
}