<h1 mat-dialog-title>{{'datasourcesAdm' | translate }}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput [ngModel]="searchCriteria" (ngModelChange)="searchCriteria=$event" placeholder="{{'search' | translate}}">
    </mat-form-field>
    <button type="button" (click)="find()">
    <mat-icon>search</mat-icon>
  </button>

    <mat-list role="list" class="mat-list mat-list-base">
        <mat-list-item class="list-item" role="listitem" *ngFor="let source of sources" mat-list-item (click)="selectSource($event,source.code)">{{source.name}}</mat-list-item>
    </mat-list>
</div>

<div mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button (click)="cancel()">{{'cancel' | translate}}</button>
    <button mat-button [mat-dialog-close]="data" (click)="acceptChanges()" cdkFocusInitial>Ok</button>
</div>