<mat-card>
    <mat-card-title translate>profilesUser</mat-card-title>
    <mat-card-content>
        <ti-grid class="profile-list" [rowActions]="rowActions" [columns]="columns" [rows]="gridDatasource" [pageSize]="10">
        </ti-grid>
    </mat-card-content>
</mat-card>