<app-form-toolbar (backToList)="backToList()" (add)="add()" (save)="save()"></app-form-toolbar>
<div *ngIf="calcOptions" [formGroup]="fgCalcOptions" id="frmCalcOptions">

    <mat-card>
        <mat-card-title translate>calcOptions</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="{{'description' | translate}}" formControlName="description" />
                <mat-error *ngIf="inputControls.description.invalid && inputControls.description.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title translate>eventReportOptionsLabel</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-select placeholder="{{'aggrEventMacroMethod' | translate}}" formControlName="aggrEventMacroMethod" [compareWith]="compareOption" (selectionChange)="macroMehodChange($event)">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let macroMethod of macroMethods" [value]="macroMethod">{{macroMethod.description}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.aggrEventMacroMethod.invalid && inputControls.aggrEventMacroMethod.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="{{'methodLabel' | translate}}" formControlName="aggrEventMethod" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let method of selectableMethods" [value]="method">{{method.description}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.aggrEventMethod.invalid && inputControls.aggrEventMethod.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="number" matInput placeholder="{{'maxAgregTimeLabel' | translate}}" formControlName="aggregationTime" />
                <mat-error *ngIf="inputControls.aggregationTime.invalid && inputControls.aggregationTime.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="{{'resultAmpLabel' | translate}}" formControlName="aggrEventProfound" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let profound of profounds" [value]="profound">{{profound.description}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.aggrEventProfound.invalid && inputControls.aggrEventProfound.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="{{'resultDurationLabel' | translate}}" formControlName="aggrEventDuration" [compareWith]="compareOption">
                    <mat-option value=""> </mat-option>
                    <mat-option *ngFor="let duration of durations" [value]="duration">{{duration.description}}</mat-option>
                </mat-select>
                <mat-error *ngIf="inputControls.aggrEventDuration.invalid && inputControls.aggrEventDuration.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>




        <mat-card-title translate>eventTableTitle</mat-card-title>
        <mat-card-content>


        </mat-card-content>

        <mat-card-title translate>eventTableTitle</mat-card-title>
        <mat-card-content>



        </mat-card-content>

        <mat-card-title translate>eventTableTitle</mat-card-title>
        <mat-card-content>



        </mat-card-content>
    </mat-card>



    <mat-card>
        <mat-card-title translate>voltageTableTitle</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <input type="number" matInput placeholder="{{'limitMinToRmsLabel' | translate}}" formControlName="voltageLimitToRMS" />
                <mat-error *ngIf="inputControls.voltageLimitToRMS.invalid && inputControls.voltageLimitToRMS.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="number" matInput placeholder="{{'limitMaxToRmsLabel' | translate}}" formControlName="voltageLimitToRMSMax" />
                <mat-error *ngIf="inputControls.voltageLimitToRMSMax.invalid && inputControls.voltageLimitToRMSMax.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="voltageLimitToRMSAtLeastOnePhase"><span translate>allRMSPhases</span></mat-checkbox>

            <mat-form-field>
                <input type="number" matInput placeholder="{{'limitMinToOtherLabel' | translate}}" formControlName="voltageLimitToOther" />
                <mat-error *ngIf="inputControls.voltageLimitToOther.invalid && inputControls.voltageLimitToOther.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="number" matInput placeholder="{{'limitMaxToOtherLabel' | translate}}" formControlName="voltageLimitToOtherMax" />
                <mat-error *ngIf="inputControls.voltageLimitToOtherMax.invalid && inputControls.voltageLimitToOtherMax.errors?.required" translate>fieldRequired</mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="voltageLimitToOtherAtLeastOnePhase"><span translate>onlyOneOTHERPhase</span></mat-checkbox>
        </mat-card-content>
    </mat-card>
</div>