<mat-card class="menu-main-card">
    <mat-card-title>
        <mat-icon>build</mat-icon>{{'management' | translate}}
    </mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="1.8:1">
            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'alarmAdministration' | translate}}

                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1.5:1">
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>notification_important</mat-icon>
                                    <figcaption>
                                        {{'alarmAdministration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>alarm</mat-icon>
                                    <figcaption>
                                        {{'alarmDefinitionTypeAdministration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'eventProcessingAdministration' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1.5:1">
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>event_node</mat-icon>
                                    <figcaption>
                                        {{'eventProcessingExecution' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>calendar_today</mat-icon>
                                    <figcaption>
                                        {{'eventProcessingAdministration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'communicationsAdministration' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1.5:1">
                            <mat-grid-tile>

                                <figure class="main-menu-item">
                                    <mat-icon>phone_callback</mat-icon>
                                    <figcaption>
                                        {{'communicationsAdministration' | translate}}
                                    </figcaption>
                                </figure>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'reportTemplateUpload' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="2" rowHeight="1.5:1">
                            <mat-grid-tile>

                                <figure class="main-menu-item">
                                    <mat-icon>description</mat-icon>
                                    <figcaption>
                                        {{'createReportModel' | translate}}
                                    </figcaption>
                                </figure>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>settings_applications</mat-icon>
                                    <figcaption>
                                        {{'execute' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'documentAdministration' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="4" rowHeight="1.5:1">
                            <mat-grid-tile>

                                <figure class="main-menu-item">
                                    <mat-icon>search</mat-icon>
                                    <figcaption>
                                        {{'documentSearch' | translate}}
                                    </figcaption>
                                </figure>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-card class="main-menu-items-holder">
                    <mat-card-title>
                        {{'processConfig' | translate}}
                    </mat-card-title>
                    <mat-card-content>
                        <mat-grid-list cols="6" rowHeight="1.5:1">
                            <mat-grid-tile>
                                <figure [routerLink]="['/administration/users']" class="main-menu-item">
                                    <mat-icon>date_range</mat-icon>
                                    <figcaption>
                                        {{'processConfig' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>view_list</mat-icon>
                                    <figcaption>
                                        {{'configuration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure class="main-menu-item">
                                    <mat-icon>visibility_off</mat-icon>
                                    <figcaption>
                                        {{'ignoreDataCauseConfiguration' | translate}}
                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <figure>
                                    <mat-icon></mat-icon>
                                    <figcaption>

                                    </figcaption>
                                </figure>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>