@import "../../../../styles.scss";

/* .report-option {
    width: 40%;
} */

.options-holder,
.reports-holder {
    height: 100%;
    width: 98%;
}

.reports {
    height: 95%;
    overflow: auto;
}

.report {
    cursor: pointer;
}

.report:hover {
    border: 1px solid powderblue;
    border-radius: 10%;
}

.title-tile {
    font-size: 24px;
    font-weight: 500;
}

.quality-comparison-year {
    padding: 3px;
    display: inline-block;
    width: 50px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
}


/* .quality-comparison-year:hover {
    border: 1px solid powderblue;
    border-radius: 10%;
} */

.quality-comparison-year.active,
.report.active {
    border-radius: 10%;
    background-color: powderblue;
    color: darkblue;
}