<div class="bg-primary">
    <button class="btn btn-outline-light" (click)="executeReport()" title="{{'reportGenerate' | translate}}">
    <i class="fal fa-file-alt"></i>
  </button>
    <button class=" btn btn-outline-light " (click)="reportList()" title="{{'reportList' | translate}}">
    <i class="fal fa-list-alt"></i>
  </button>

</div>
<!-- <mat-chip-list #chipList>
    <mat-chip color="accent" *ngFor="let device of selectedDevices" [selectable]="selectable" [removable]="removable" (removed)="remove(device)">
        {{device.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
</mat-chip-list> -->
<div [formGroup]="fgReport">
    <mat-card style="margin-bottom:2%">
        <mat-card-title>
            <mat-icon>schedule</mat-icon>{{'timeSpan' | translate}} <span *ngIf="selectedReport?.code ==='qualityComparasionPT'">
        :: {{'years' | translate}}</span>
        </mat-card-title>
        <mat-card-content *ngIf="selectedReport?.code !=='qualityComparasionPT'">
            <mat-grid-list cols="2" rowHeight="8rem">
                <mat-grid-tile>

                    <mat-card-content>
                        <app-date-time-editor formControlName="startDate" (valueChange)="startDateChanged($event)" [timePlaceholder]="'startTime' | translate" [datePlaceholder]="'startDate' | translate"></app-date-time-editor>
                    </mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile>

                    <mat-card-content>
                        <app-date-time-editor formControlName="endDate" (valueChange)="endDateChanged($event)" [timePlaceholder]="'endTime' | translate" [datePlaceholder]="'endDate' | translate"></app-date-time-editor>
                    </mat-card-content>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-content *ngIf="selectedReport?.code ==='qualityComparasionPT'">
            <div class="quality-comparison-year" [class.active]="selectedQualityComparisonYear.indexOf(year)!==-1" *ngFor="let year of qualityComparisonYearRange" (click)="qualityComparisonYearSelected(year,$event)">{{year}}</div>
        </mat-card-content>
    </mat-card>

    <mat-grid-list cols="2" rowHeight="42rem">
        <mat-grid-tile>
            <mat-card class="reports-holder">
                <mat-card-title>
                    <mat-icon>assessment</mat-icon>{{'reportLabel' | translate}}
                </mat-card-title>
                <mat-card-content class="reports">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h6>{{'baseReports' | translate}}</h6>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-grid-list cols="4" rowHeight="7rem">
                                <mat-grid-tile *ngFor="let report of reports.base" class="report" (click)="reportSelect(report)" [class.active]="selectedReport===report">
                                    <table>
                                        <tr>
                                            <td class="text-center">
                                                <mat-icon>insert_chart_outlined</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"> {{report.name}}</td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h6> {{'erseReports' | translate}}</h6>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-grid-list cols="4" rowHeight="7rem">
                                <mat-grid-tile *ngFor="let report of reports.erse" class="report" (click)="reportSelect(report)" [class.active]="selectedReport===report">
                                    <table>
                                        <tr>
                                            <td class="text-center">
                                                <mat-icon>insert_chart_outlined</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"> {{report.name}}</td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h6>{{'assetReports' | translate}}</h6>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-grid-list cols="4" rowHeight="7rem">
                                <mat-grid-tile *ngFor="let report of reports.asset" class="report" (click)="reportSelect(report)" [class.active]="selectedReport===report">
                                    <table>
                                        <tr>
                                            <td class="text-center">
                                                <mat-icon>insert_chart_outlined</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"> {{report.name}}</td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h6> {{'eventReports' | translate}}</h6>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-grid-list cols="4" rowHeight="7rem">
                                <mat-grid-tile *ngFor="let report of reports.eventCons" class="report" (click)="reportSelect(report)" [class.active]="selectedReport===report">
                                    <table>
                                        <tr>
                                            <td class="text-center">
                                                <mat-icon>insert_chart_outlined</mat-icon>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"> {{report.name}}</td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="options-holder">
                <mat-card-title>
                    <mat-icon>view_list</mat-icon>{{'options' | translate}}
                </mat-card-title>
                <mat-card-content *ngIf="selectedReport?.code !=='qualityComparasionPT'">
                    <mat-grid-list cols="2" rowHeight="4rem">
                        <mat-grid-tile colspan="2">
                            <mat-checkbox formControlName="applyDeviceConfig" (change)="applyDeviceConfigChange($event)"><span translate>applyDeviceConfig</span></mat-checkbox>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="report-option">
                                <mat-select placeholder="{{'userCalcOptions' | translate}}" [compareWith]="compareOption" formControlName="userCalcOptions">
                                    <mat-option value=""> </mat-option>
                                    <mat-option *ngFor="let option of currentUser?.calcOptions" [value]="option">{{option.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="report-option">
                                <mat-select placeholder="{{'limitsDefinitionReportLabel' | translate}}" [compareWith]="compareOption" formControlName="limitsDefinitionReport">
                                    <mat-option value=""> </mat-option>
                                    <mat-option *ngFor="let option of currentUser?.limitsDefinition" [value]="option">{{option.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="report-option">
                                <mat-select placeholder="{{'calcOptionsFromGlobal' | translate}}" [compareWith]="compareOption" formControlName="calcOptionsFromGlobal">
                                    <mat-option value=""> </mat-option>
                                    <mat-option *ngFor="let option of globalCalcOptions" [value]="option">{{option.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="report-option">
                                <mat-select placeholder="{{'limitsDefinitionFromGlobal' | translate}}" [compareWith]="compareOption" formControlName="limitsDefinitionFromGlobal">
                                    <mat-option value=""> </mat-option>
                                    <mat-option *ngFor="let option of globalLimitsDefinition" [value]="option">{{option.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <mat-form-field class="report-option">
                                <mat-select placeholder="{{'calcOptionsReportLabel' | translate}}" [compareWith]="compareOption" formControlName="calcOptionsForUser">
                                    <mat-option value=""> </mat-option>
                                    <mat-option *ngFor="let option of calcOptionsForUser" [value]="option">{{option.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list *ngIf="selectedReport?.code==='eventReportPT'" cols="2" rowHeight="4rem">
                        <mat-grid-tile colspan="2" class="title-tile">
                            {{'eventReportTransientsCharts' | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <mat-checkbox formControlName="includeTransientsCharts" (change)="includeTransientsChartsChange($event)"><span translate>includeTransientsCharts</span></mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list *ngIf="selectedReport?.code==='erseReportAllWeekProcessDevicesPT'" cols="2" rowHeight="4rem">
                        <mat-grid-tile colspan="2" class="title-tile">
                            {{'allWeeks' | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <mat-checkbox formControlName="erseReportAllWeek" (change)="erseReportAllWeekChange($event)"><span translate>erseReportAllWeek</span></mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list *ngIf="selectedReport?.code==='harmReportPT'" cols="2" rowHeight="4rem">
                        <mat-grid-tile colspan="2" class="title-tile">
                            {{'ucHarmonics' | translate}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="{{'harmonicFirst' | translate}}" formControlName="firstHarm" type="number" max="50" min="2">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput placeholder="{{'harmonicSecond' | translate}}" formControlName="secondHarm" type="number" max="50" min="2">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <mat-form-field>
                                <input matInput placeholder="{{'harmonicThird' | translate}}" formControlName="thirdHarm" type="number" max="50" min="2">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-checkbox formControlName="includeBigCharts" (change)="includeBigChartsChange($event)"><span translate>includeBigCharts</span></mat-checkbox>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox formControlName="includeBigChartsNormalized" (change)="includeBigChartsNormalizedChange($event)"><span translate>includeBigChartsNormalized</span></mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list *ngIf="selectedReport?.code==='conformityReportPT'" cols="7" rowHeight="2rem">
                        <mat-grid-tile colspan="7" class="title-tile">
                            {{'conformityWeeksTitle'|translate}}
                        </mat-grid-tile>
                        <mat-grid-tile *ngFor="let variable of variables" class="conformity-variable">
                            <mat-checkbox (change)="conformityVariableChange($event, variable)"><span>{{variable.name}}</span></mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                </mat-card-content>

                <mat-card-content *ngIf="selectedReport?.code ==='qualityComparasionPT'">
                    <app-grid-add-button (click)="gridAddRecord()"></app-grid-add-button>

                    <ti-grid class="quality-comparison-list" [columns]="qualityComparisonColumns" [rows]="qualityComparisonGridDatasource" [pageSize]="10">
                    </ti-grid>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>